/* body {
            background: linear-gradient(to bottom, #3498db, #2980b9);
            animation: gradient 10s ease-in-out infinite alternate;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @keyframes gradient {
            0% {
                background: linear-gradient(to bottom, #3498db, #2980b9);
            }
            100% {
                background: linear-gradient(to bottom, #2980b9, #3498db);
            }
        }

        .vertical-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .welcome-text {
            text-align: center;
            color: #fff;
            font-size: 36px;
        } */


.c-iteml {
  height: 787px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}